{{admin.sidebar-component}}

<div id="content-wrapper">
  
  {{admin.header-component 
    title="Jobs" 
    description="Manage the job offers"
    buttonLink="admin.jobs.new"
    buttonText="New Job"}}

  <div class="container-fluid">
    <div class="listing__container">
      <div class="listing__result --header">
        <div class="listing__content">
          <div class="gr-3">
            <h3 class="listing__header">Title</h3>
          </div>
          <div class="gr-3">
            <p class="listing__header">Company</p>
          </div>
          <div class="gr-3">
            <p class="listing__header">Location</p>
          </div>
          <div class="gr-3">
            <p class="listing__header">Created At</p>
          </div>
          <div class="clear"></div>
        </div>

        {{#each model as |post| }}
          <div class="listing__result">
            <div {{action "showMore" post}} class="listing__content">
              <div class="gr-3">
                <h3 class="listing__detail">{{post.title}}</h3>
              </div>
              <div class="gr-3">
                <p class="listing__detail">{{if-empty post.company}}</p>
              </div>
              <div class="gr-3">
                <p class="listing__detail">{{post.location}}</p>
              </div>
              <div class="gr-3">
                <p class="listing__detail">{{moment-from-now post.createdAt}}</p>
              </div>
              <div class="clear"></div>
            </div>
            {{#if post.showMore}}
              <div class="listing__more">
                {{#link-to "admin.jobs.edit" post.id class="button --warning"}}Edit{{/link-to}}
                <a href="#" {{action "remove" post}} class="button --danger">Delete</a>
              </div>
            {{/if}}
          </div>
        {{/each}}

      </div>

    </div>
  </div>
</div>